table{
    background-color: rgb(250, 226, 236);
    width: 100%;
    padding: 15px;
}
.petti{
    width: 68%;
    padding: 0.75%;
}
#h2{
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: underline; */
    font-size: 35px;
    padding: 0.5%;
    border-style: dashed;
    color: rgb(40, 77, 78);
    border-radius: 2px;
    background-color: beige;
   
}
button{
    height: 40px;
    width: 170px;
    font-size: 15px;
    background:rgb(79, 169, 79);
    border-radius: 2rem;
    color: aliceblue;
    border:none;
    box-shadow:1cm;
    border-style: initial;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#button{
    height: 40px;
    width: 100px;
    font-size: 15px;
    background:rgb(66, 168, 66);
    border-radius: 2rem;
    color: aliceblue;
    border: none;
}
#button:hover{
    box-shadow:0 0px 20px 0 rgba(48, 73, 40, 0.2);
}
#display{
    background-color: aquamarine;
    font-family: sans-serif;
    font-size: larger;
}